@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.slider {
  -webkit-appearance: none;
  width: 100%; /* Width of the slider */
  height: 10px; /* Height of the slider */
  background: #d3d3d3; /* Gray background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for a more visual effect) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px; /* Width of the slider handle */
  height: 30px; /* Height of the slider handle */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 30px; /* Width of the slider handle */
  height: 30px; /* Height of the slider handle */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
